{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/vendeur-sidebar.css')}}">
{% endblock %}

<div class="col-2 ml-4 sideBarAdmin vDesk">
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-success mt-3">
            <i class="fas fa-store"></i> Boutiques
        </a>
    </div>
    {# <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fab fa-product-hunt"></i> Produits
        </a>
    </div> #}
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-users"></i> Commandes
        </a>
    </div>
    {# <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-success mt-3">
            <i class="fas fa-store"></i> Adresse
        </a>
    </div> #}
    <div>
        <a href="{{ path('public_home') }}" class="col-12 btn btn-primary mt-3"> Sortir de l'Espace Vendeur </a>
    </div>
    <div>
        <a href="{{ path('app_logout') }}" class="col-12 btn btn-danger mt-3"> Déconnexion </a>
    </div>

</div>

{# <div class="col-2 ml-4 sideBarAdmin vMobile">
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-success mt-3">
            <i class="fas fa-store"></i>
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-archive"></i> Cat
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fab fa-product-hunt"></i> Prod
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-danger mt-3"> Déco </a>
    </div> 
</div>#}