{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<section class="cgu">
  <div class="inscriptionDiv">
    {{ form_start(registrationForm) }}
      <h1>Inscription</h1>
      {{ form_row(registrationForm.firstName) }}
      {{ form_row(registrationForm.name) }}
      {{ form_row(registrationForm.phone) }}
      {{ form_row(registrationForm.email) }}
      {{ form_row(registrationForm.plainPassword) }}
      {# {{ form_row(registrationForm.agreeTerms) }} #}

      <button type="submit" class="btn" style="width:100%">S'inscrire</button>
    {{ form_end(registrationForm) }}

    <br><br>
    <p>
      * Lorsque vous vous inscrivez en tant que Vendeur, 
      votre compte vous permet de faire des achats, tout comme Acheteur. 
      Mais vous aurez un espace en plus pour proposer vos produits à la vente.
      <br>
      Si vous vous inscrivez en tant que Acheteur, 
      vous aurez la possibilité de devenir Vendeur depuis votre espace personnel.
    </p>
  </div>
  <div>
    {% include "/public/shared/_footer.html.twig" %}
  </div>
</section>

{% endblock %}
