{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/vendeur-sidebar.css')}}">
{% endblock %}

<div class="col-2 ml-4 sideBarAdmin vDesk">
    <div>
        <a href="{{ path('profile_personnel') }}" class="col-12 btn btn-success mt-3">
            <i class="fas fa-store"></i> Espace Acheteur
        </a>
    </div>
    <div>
        <a href="{{ path('profile_commandes_show') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-users">
            {% if nbCommandesAttente > 0 %}
                <span style="color:red ; font-size:20px"> {{ nbCommandesAttente }}</span>
            {% endif %}
            
            </i> Commandes
        </a>
    </div>
    <div>
        <a href="{{ path('cart_show')}}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-shopping-cart">
            {% if nbArticles > 0 %}
                <span style="color:orange ; font-size:20px"> {{ nbArticles }}</span>
            {% endif %}
            </i> Panier
        </a>
    </div>
    {% if "ROLE_VENDEUR" in app.user.roles %}
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3"> Espace Vendeur </a>
    </div>
    {% endif %}
    <div>
        <a href="{{ path('public_home') }}" class="col-12 btn btn-primary mt-3"> Retour au site </a>
    </div>
    <div>
        <a href="{{ path('app_logout') }}" class="col-12 btn btn-danger mt-3"> Déconnexion </a>
    </div>

</div>

{# <div class="col-2 ml-4 sideBarAdmin vMobile">
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-success mt-3">
            <i class="fas fa-store"></i>
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-archive"></i> Cat
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fab fa-product-hunt"></i> Prod
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-primary mt-3">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <div>
        <a href="{{ path('vendeur_home') }}" class="col-12 btn btn-danger mt-3"> Déco </a>
    </div> 
</div>#}