
{% extends "acheteur/base_acheteur.html.twig" %}

{% block body %}

<section class="main-acheteur">
    <h1>Bienvenue, {{ app.user.firstName }} {{ app.user.name }}</h1>
    <P>Cet espace est fait pour gérer votre profil personnel d'acheteur (suivi de commandes, adresses et téléphone).</P>
    <div class="section-up">
        <p>Votre Email : {{ app.user.email }}</p>
        <p>Votre Téléphone : {{ app.user.phone }}
            <a href="{{ path('edit_phone') }}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i>modifier</a>
        </p>
    {% if app.user.adresses is empty  %}
        <h3>Vous n'avez pas encore saisi votre adresse</h3>
            <a href="{{ path('create_adresse') }}?adresselivraison=true" class="btn btn-primary">
                <i class="fas fa-plus"></i> Créer une adresse
            </a>
    {% else %}
        {% for adresse in app.user.adresses %}
            
                {% if adresse.livraison is same as true %}
                    <p>Adresse {{ loop.index }} 
                        <span style="color:red">(adresse de livraison)</span> : {{ adresse.rue}}
                            , {{ adresse.codePostal}} {{ adresse.ville}}
                            , {{ adresse.region}}
                    <a href="{{ path('edit_adresse', { 'id' : adresse.id }) }}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i>modifier</a>
                    <a href="{{ path('remove_adresse', { 'id' : adresse.id }) }}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i>supprimer</a></p>
                {% else %}
                    <p>Adresse {{ loop.index }} : {{ adresse.rue}}
                        , {{ adresse.codePostal}} {{ adresse.ville}}
                        , {{ adresse.region}}
                    <a href="{{ path('livraison_adresse', { 'id' : adresse.id }) }}" class="btn btn-primary btn-sm">adresse de livraison</a>
                    <a href="{{ path('edit_adresse', { 'id' : adresse.id }) }}" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i>modifier</a>
                    <a href="{{ path('remove_adresse', { 'id' : adresse.id }) }}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i>supprimer</a></p>
                {% endif %}
            
        {% endfor %}
        <a href="{{ path('create_adresse') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Ajouter une adresse
        </a> 
    {% endif %}
        
    </div>
            
    <div class="section-down">
    {% if app.user.roles[0] != "ROLE_VENDEUR" %}
        <P>Vous êtes artisan, producteur ou agriculteur et vous souhaitez vendre vos produits ? Vous pouvez créer votre espace vendeur gratuitement.</P>
        <a href="{{ path('go_vendeur') }}" class="btn btn-primary">
            Créer mon espace Vendeur
        </a>
    {% endif %}
    </div>
            
</section>

{% endblock %}
