{% extends "vendeur/base_vendeur.html.twig" %}

{% block body %}

    <section class="col-10 mt-4">
        <div class="section-up">
            <h1>Boutique : {{ boutique.nom}}</h1>
            <a href="{{ path('edit_boutique', { 'id' : boutique.id } )}}" class="btn btn-primary">
                <i class="fas fa-pen"></i> Modifier la boutique
            </a>
        </div>
        
        <div class="section-mid container pt-3 pb-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div>
                    {% if boutique.imageUrl is same as null %}
                        <img src="{{ asset('images/android-chrome-512x512.png') }}" alt="defautimage" class="image-classe img-fluid">
                    {% else %}
                        <img src="{{ boutique.imageUrl }}" alt="{{ boutique.slug }}" class="img-fluid image-classe">    
                    {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h2>Statut : {{ boutique.status }}</h2>
                    <h2>Catégorie : {{ boutique.categorie }}</h2>
                    <p>Description : {{ boutique.description }}</p>
                    <p>Frais de port : {{ boutique.fdp | amount }}</p>
                    <h4>{{ boutique.rue }} {{ boutique.codePostal }} {{ boutique.ville }} {{ boutique.region }}</h4>
                    <h4>Téléphone : {{ boutique.vendeur.phone}}</h4>
                </div>
            </div>
        </div>

        <div class="section-down pt-3 pb-3">
            <div class="sec-down-div">
                <h2>Liste des produits de la boutique :</h2>
                <a href="{{ path('create_produit', { 'id' : boutique.id } )}}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Ajouter Produit
                </a>
            </div>
            
            {% if boutique.produits | length > 0 %}
                <table class="table-hover col-12">
                    <thead>
                        <tr class="d-flex align-items-center justify-content-around" >
                            <th class="col-3">image</th>
                            <th class="col-2">Nom</th>
                            <th class="col-1">Prix</th>
                            <th class="col-1">Statut</th>
                            <th class="col-3">Description</th>
                            <th class="col-2">actions</th>
                        </tr>
                    </thead>
                    <tbody  >
                        {% for produit in boutique.produits %}
                        <tr class="d-flex align-items-center justify-content-around" >
                            <td class="col-3" >
                                {% if produit.imageUrl is same as null %}
                                    <img class="image-classe" src="{{asset('images/android-chrome-512x512.png')}}" alt="imgdefaut">
                                {% else %}
                                    <img class="image-classe" src="{{ asset( produit.imageUrl ) }}" alt="{{ asset( produit.slug ) }}">
                                {% endif %}
                            </td>
                            <td class="col-2">
                                {{ produit.nom}}
                            </td>
                            <td class="col-1">
                                 {{ produit.prix | amount}}
                            </td>
                            <td class="col-1">
                                 {{ produit.status}}
                            </td>
                            <td class="col-3">
                                 {{ produit.description}}
                            </td>
                            <td class="col-2">
                                <a class="btn btn-info" href="{{ path('edit_produit', { 'id' : produit.id } ) }}"><i class="fas fa-pen"></i> Modifier </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Vous n'avez pas encore ajouté de produits dans cette boutique</p>
            {% endif %}
        </div>
        
    </section>

{% endblock %}