{# {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset ('css/navbar.css') }}">
{% endblock %} #}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('public_home')}}">Le Marché Virtuel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Producteurs</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('liste_producteur') }}">Tous les Producteurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat') }}?cat=LAIT">Fromages et Laitages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=VEGE">Fruits et Légumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CHAR">Charcuteries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CONS">Conserves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CERE">Céréales et Graines</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=ALCO">Vins et Alcools</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=SUCR">Miels et Confiseries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=H2O">Eaux et Boissons sans alcool</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=EPIC">Huiles et Assaisonnements</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=OBJE">Objets, Outils</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=HABI">Habits et Autres</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sec4">Carte des Régions</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produits</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('public_home') }}">Tous les Produits</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Fromages et Laitages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Fruits et Légumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Charcuteries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Conserves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Céréales et Graines</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Vins et Alcools</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Miels et Confiseries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Eaux et Boissons sans alcool</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Huiles et Assaisonnements</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Objets, Outils</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('public_home')}}">Habits et Autres</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('cart_show')}}">Panier</a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('profile_personnel') }}">Espace Acheteur</a>
        </li>
          {% if app.user.roles[0] is same as "ROLE_VENDEUR" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('vendeur_home')}}">Espace Vendeur</a>
        </li>
          {% endif %}
        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">Se deconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}?vendeur=choice">S'inscrire</a>
        </li>
        {% endif %}

      </ul>
      {# <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>