<nav id="the-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('public_home')}}">Le Marché Virtuel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Producteurs</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('liste_producteur') }}">Tous les Producteurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat') }}?cat=LAIT">Fromages et Laitages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=VEGE">Fruits et Légumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CHAR">Charcuteries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CONS">Conserves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=CERE">Céréales et Graines</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=ALCO">Vins et Alcools</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=SUCR">Miels et Confiseries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=H2O">Eaux et Boissons sans alcool</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=EPIC">Huiles et Assaisonnements</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=OBJE">Objets, Outils</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('producteur_cat' ) }}?cat=HABI">Habits et Autres</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sec4">Carte des Régions</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produits</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('liste_produit') }}">Tous les Produits</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'LAIT'})}}">Fromages et Laitages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'VEGE'})}}">Fruits et Légumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'CHAR'})}}">Charcuteries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'CONS'})}}">Conserves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'CERE'})}}">Céréales et Graines</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'ALCO'})}}">Vins et Alcools</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'SUCR'})}}">Miels et Confiseries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'H2O'})}}">Eaux et Boissons sans alcool</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'EPIC'})}}">Huiles et Assaisonnements</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'OBJE'})}}">Objets, Outils</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('produit_cat', {'categorie' : 'HABI'})}}">Habits et Autres</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('cart_show')}}">
              <i class="fas fa-shopping-cart">
                  {% if nbArticles > 0 %}
                    <span style="color:orange"> {{ nbArticles }}</span>
                  {% endif %}
              </i> Panier
            </a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('profile_personnel') }}">Espace Acheteur</a>
        </li>
          {% if "ROLE_VENDEUR" in app.user.roles %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('vendeur_home')}}">Espace Vendeur</a>
        </li>
          {% endif %}
        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">Se deconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}?vendeur=choice">S'inscrire</a>
        </li>
        {% endif %}

      </ul>
      {# <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>
<script>
  // code pour la navbar
  var lastScrollTop = 0;

  window.addEventListener("scroll", () => {
    var st = window.pageYOffset || document.documentElement.scrollTop;
    if (st > lastScrollTop && ($(window).width() > 360) ) {
      document.querySelector("#the-nav").style.display = "none";
    } else if (st < lastScrollTop && ($(window).width() > 360) ) {
      document.querySelector("#the-nav").style.display = "block";
    }
    lastScrollTop = st <= 0 ? 0 : st;
  },
  false
);

$(document).ready( function(){
  if($(window).width() <= 360){
    $("#the-nav").removeClass("fixed-top");
    $("body").css('padding-top', '0px');
  }
  else{
    $("#the-nav").addClass("fixed-top");
    $("body").css('padding-top', '56px');
  }
});

$(document).resize( function(){
  if($(window).width() > 360){
    $("#the-nav").addClass("fixed-top");
    $("body").css('padding-top', '56px');
  }
});



</script>