{% extends "vendeur/base_vendeur.html.twig" %}

{% block body %}

<section class="col-10 mt-4">
    <h1>Vos commandes : </h1>
    {% if ( commandesAExpedier | length == 0) and ( commandesEnLivraison | length == 0 ) and (commandesLivree | length == 0) %}
        <p> vous n'avez pas encore passé de commandes sur le marché virtuel.</p>
    {% else %}
        
    <div class="section-mid pt-3 pb-3">
        {% if commandesAExpedier | length > 0 %}     
        <h2><strong style="color:red">Commandes payées, à expedier :</strong></h2>
        <table class="table-hover col-10">
            <thead>
                <tr class="d-flex align-items-center justify-content-around" >
                    <th class="col-2">N° commande</th>
                    <th class="col-2">Boutique</th>
                    <th class="col-2">Total</th>
                    <th class="col-2">Date</th>
                    <th class="col-4">action</th>
                </tr>
            </thead>
            <tbody  >

                {% for item in commandesAExpedier %}
                <tr class="d-flex align-items-center justify-content-around" >
                    <td class="col-2" >
                        {{ item.id }}
                    </td>
                    <td class="col-2" >
                        {{ item.boutique.nom }}
                    </td>
                    <td class="col-2">
                        {{ item.total | amount  }}  
                    </td>
                    <td class="col-2">
                       {{ item.createdAt | date("d/m/Y") }}
                    </td>
                    <td class="col-4">
                        <a class="btn btn-info" href="{{ path('vendeur_commande_detail', { 'id' : item.id } ) }}">
                            <i class="fas fa-eye"></i> détail
                        </a>
                        <a class="btn btn-info" href="{{ path('vendeur_commande_expedier', { 'id' : item.id } ) }}">
                            <i class="fas fa-shipping-fast"></i> expédiée
                        </a>
                    </td>
                </tr>         
                {% endfor %}
            
            </tbody>
        </table>
        {% endif %}
        {% if commandesEnLivraison | length > 0 %}
        <h2>Commandes<strong style="color:green"> en cours de livraison :</strong></h2>
        <table class="table-hover col-10">
            <thead>
                <tr class="d-flex align-items-center justify-content-around" >
                    <th class="col-2">N° commande</th>
                    <th class="col-2">Boutique</th>
                    <th class="col-2">Total</th>
                    <th class="col-2">Date</th>
                    <th class="col-4">action</th>
                </tr>
            </thead>
            <tbody  >

                {% for item in commandesEnLivraison %}
                <tr class="d-flex align-items-center justify-content-around" >
                    <td class="col-2" >
                        {{ item.id }}
                    </td>
                    <td class="col-2" >
                        {{ item.boutique.nom }}
                    </td>
                    <td class="col-2">
                        {{ item.total | amount }}  
                    </td>
                    <td class="col-2">
                       {{ item.createdAt | date("d/m/Y") }}
                    </td>
                    <td class="col-4">
                        <a class="btn btn-info" href="{{ path('vendeur_commande_detail', { 'id' : item.id } ) }}">
                            <i class="fas fa-eye"></i> détail
                        </a>
                    </td>
                </tr>        
                {% endfor %}
            
            </tbody>
        </table>
        {% endif %}
        {% if commandesLivree | length > 0 %}
        <h2>Commandes livrees :</h2>
        <table class="table-hover col-10">
            <thead>
                <tr class="d-flex align-items-center justify-content-around" >
                    <th class="col-2">N° commande</th>
                    <th class="col-2">Boutique</th>
                    <th class="col-2">Total</th>
                    <th class="col-2">Date</th>
                    <th class="col-4">action</th>
                </tr>
            </thead>
            <tbody  >

                {% for item in commandesLivree %}
                <tr class="d-flex align-items-center justify-content-around" >
                    <td class="col-2" >
                        {{ item.id }}
                    </td>
                    <td class="col-2" >
                        {{ item.boutique.nom }}
                    </td>
                    <td class="col-2">
                        {{ item.total | amount }}  
                    </td>
                    <td class="col-2">
                       {{ item.createdAt | date("d/m/Y") }}
                    </td>
                    <td class="col-4">
                        <a class="btn btn-info" href="{{ path('vendeur_commande_detail', { 'id' : item.id } ) }}">
                            <i class="fas fa-eye"></i> détail
                        </a>
                    </td>
                </tr>        
                {% endfor %}
            
            </tbody>
        </table>
        {% endif %}
        
    </div>
    {% endif %}
</section>
{% endblock %}