{% extends "base.html.twig" %}

{% block body %}
    
    <section id="sec1" class="section-producteurs">
        <h1>{{ producteur.nom }}</h1>
        <div class="section-produit col-12">

            <div class="produit-main">

                <div class="produit-main-left">
                    {% if producteur.imageUrl is same as null %}
                        <img src="{{ asset('images/android-chrome-512x512.png') }}" alt="defautimage" class="img-fluid">
                    {% else %}
                        <img src="{{ producteur.imageUrl }}" alt="{{ producteur.slug }}" class="img-fluid">    
                    {% endif %}
                </div>

                <div class="produit-main-right">
                    <h4 class="fiche-producteur-stat">
                        {% if producteur.status is same as "CLOSED" %}
                            <span style="color:red" >Statut : {{ producteur.status }}</span>
                        {% else %}
                            <span style="color:green" >Statut : {{ producteur.status }}</span>
                        {% endif %}
                        <span>Catégorie : {{ producteur.categorie }}</span>
                    </h4>
                    
                    <h4>Frais de port par commande : {{ producteur.fdp | amount }}</h4>
                    <p>{{ producteur.description }}</p>
                    <h4>{{ producteur.rue }} {{ producteur.codePostal }} {{ producteur.ville }} {{ producteur.region }}</h4>
                    <h4> Tél : {{ producteur.vendeur.phone }}</h4>
                </div>
            </div>
        </div>

        <div class="section-down col-12 sec-tab">
            {% if producteur.produits | length > 0 %}
                <table class="table table-hover tabPanier">
                    <thead>
                        <tr class="d-flex align-items-center justify-content-around tr-bottom" >
                            <th class="col-3">&nbsp;</th>
                            <th class="col-2">Produit</th>
                            <th class="col-2">Prix</th>
                            <th class="col-2">Status</th>
                            <th class="col-3">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody  >
                        {% for produit in producteur.produits %}
                        <tr class="d-flex align-items-center justify-content-around" >
                            <td class="col-3" >
                                {% if produit.imageUrl is same as null %}
                                    <img class="image-panier" src="{{asset('images/android-chrome-512x512.png')}}" alt="imgdefaut">
                                {% else %}
                                    <img class="image-panier" src="{{ asset( produit.imageUrl ) }}" alt="category.slug">
                                {% endif %}
                            </td>
                            <td class="col-2">
                                {{ produit.nom}}
                            </td>
                            <td class="col-2">
                                {{ produit.prix | amount}}
                            </td>
                            <td class="col-2">
                                {{ produit.status}}
                            </td>
                            <td class="col-3">
                                <a class="btn" href="{{ path('produit', { 'id' : produit.id, 'produitSlug' : produit.slug, 'producteurSlug' : producteur.slug } ) }}">
                                    <i class="fas fa-eye"></i> Voir
                                </a>
                                {% if (produit.status is same as "Indisponible") or (producteur.status is same as "CLOSED") %}
                                {% else %}
                                    <a class="btn" href="{{ path('cart_add', { 'id' : produit.id } ) }}?producteur=ok">
                                        <i class="fas fa-plus"></i>panier
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Ce producteur n'a pas de produits en ce moment</p>
            {% endif %}
        </div>

    </section>

    <section class="sec-card">
        {% if producteur.produits | length > 0 %}
            <div class="card-global">
                {% for produit in producteur.produits %}
                    <div class="card">
                        <div class="card-header">
                            {% if produit.imageUrl is same as null %}
                                <img class="image-panier" src="{{asset('images/android-chrome-512x512.png')}}" alt="imgdefaut">
                            {% else %}
                                <img class="image-panier" src="{{ asset( produit.imageUrl ) }}" alt="category.slug">
                            {% endif %}
                            <h5>{{ produit.nom}}</h5>
                        </div>
                        <div class="card-body">
                            <p>{{ produit.prix | amount}}</p>
                            <p>{{ produit.status}}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn" href="{{ path('produit', { 'id' : produit.id, 'produitSlug' : produit.slug, 'producteurSlug' : producteur.slug } ) }}">
                                <i class="fas fa-eye"></i> Voir
                            </a>
                            {% if (produit.status is same as "Indisponible") or (producteur.status is same as "CLOSED") %}
                            {% else %}
                                <a class="btn" href="{{ path('cart_add', { 'id' : produit.id } ) }}?producteur=ok">
                                    <i class="fas fa-plus"></i>panier
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Ce producteur n'a pas de produits en ce moment</p>
        {% endif %}
    </section>
 
{% include "/public/shared/_carte.html.twig" %}
{% include "/public/shared/_footer.html.twig" %}

{% endblock %}
