{% extends "base.html.twig" %}

{% block title %}Le marché Virtuel{% endblock %}

{% block body %}
    

    <section id="sec1">
        <h1> Bienvenue sur le marché virtuel</h1>
        
        
        <div id="descri">
        {% if app.user %}
        {% else %}
          <p>
            Pour une vente directe au consommateur : inscrivez-vous et créez
            votre stand virtuel gratuitement.
          </p>
          <p>
            Pour acheter un produit : séléctionnez-le et passez la commande.
          </p>
        {% endif %}
        </div>
        
    </section>

    <section id="sec2">
    
        {% if app.user %}
          {% if app.user.roles[0] is same as "ROLE_VENDEUR" %}
            <div class="container">
                <a class="btn" href="{{ path('vendeur_home')}}">
                  <h2>Gérer mon espace vendeur et mes produits</h2>
                </a>
            </div>
          {% endif %}
        {% else %}
         <div class="log">
            <a href="{{ path('app_register')}}?vendeur=true">
                <h2>Vous êtes producteur ?</h2>
                <img src="{{ asset( 'images/producteur.jpg' )}}" alt="producteur" />
                <a id="a-pro" href="{{ path('app_register')}}?vendeur=yes">S'inscrire</a>
            </a>
          </div>
          <div class="log">
            <a href="{{ path('app_register')}}?vendeur=false">
              <h2>Vous voulez acheter ?</h2>
              <img src="{{ asset( 'images/consommatrice.jpg' )}}" alt="consommatrice" />
              <a id="a-conso" href="{{ path('app_register')}}?vendeur=no">S'inscrire</a>
            </a>
          </div>
        {% endif %}
        
    </section>
      <!-- <section class="sec3">
        <h2>Produits du moments</h2>
        <div class="sec33">
          <div class="prodShop">
            <a href="#!">
              <h3>Reblochon</h3>
              <img src="/assets/reblochon.jpg" alt="reblochon" />
            </a>
            <a class="shop" href="#!achat">Acheter</a>
          </div>
          <div class="prodShop">
            <a href="#!">
              <h3>Chèvre</h3>
              <img src="/assets/chevre.jpg" alt="chevre" />
            </a>
            <a class="shop" href="#!achat">Acheter</a>
          </div>
          <div class="prodShop">
            <a href="#!">
              <h3>Camembert</h3>
              <img src="/assets/camembert.jpg" alt="camembert" />
            </a>
            <a class="shop" href="#!achat">Acheter</a>
          </div>
      </section> -->

    {# <section class="sec3">
        <h2>Produits du moments</h2>
        <div
          id="carouselProd"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                <div class="prodShop">
                    <a href="#!">
                    <h3>Reblochon</h3>
                    <img src="/assets/reblochon.jpg" alt="reblochon" />
                    </a>
                    <a class="shop" href="#!achatReblochon">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Chèvre</h3>
                    <img src="/assets/chevre.jpg" alt="chevre" />
                    </a>
                    <a class="shop" href="#!achatChevre">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Camembert</h3>
                    <img src="/assets/camembert.jpg" alt="camembert" />
                    </a>
                    <a class="shop" href="#!achatCamembert">Acheter</a>
                </div>
                </div>
                <div class="carousel-item">
                <div class="prodShop">
                    <a href="#!">
                    <h3>Chèvre</h3>
                    <img src="/assets/chevre.jpg" alt="chevre" />
                    </a>
                    <a class="shop" href="#!achatChevre">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Camembert</h3>
                    <img src="/assets/camembert.jpg" alt="camembert" />
                    </a>
                    <a class="shop" href="#!achatCamembert">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Reblochon</h3>
                    <img src="/assets/reblochon.jpg" alt="reblochon" />
                    </a>
                    <a class="shop" href="#!achatReblochon">Acheter</a>
                </div>
                </div>
                <div class="carousel-item">
                <div class="prodShop">
                    <a href="#!">
                    <h3>Camembert</h3>
                    <img src="/assets/camembert.jpg" alt="camembert" />
                    </a>
                    <a class="shop" href="#!achatCamembert">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Reblochon</h3>
                    <img src="/assets/reblochon.jpg" alt="reblochon" />
                    </a>
                    <a class="shop" href="#!achatReblochon">Acheter</a>
                </div>
                <div class="prodShop">
                    <a href="#!">
                    <h3>Chèvre</h3>
                    <img src="/assets/chevre.jpg" alt="chevre" />
                    </a>
                    <a class="shop" href="#!achatChevre">Acheter</a>
                </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselProd"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselProd"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section> #}
{% include "/public/shared/_carte.html.twig" %}
{% include "/public/shared/_footer.html.twig" %}
{% endblock %}
