{% extends "acheteur/base_acheteur.html.twig" %}

{% block body %}

<section class="col-10 mt-4">
    <h1>Détail de votre commande, numéro: {{ commande.id }} </h1>
    {% if commande.status is same as 'paiement-attente' %}
        <h2 style="color:red">Etat : {{ commande.status}}</h2>
    {% else %}
        <h2 style="color:green">Etat : {{ commande.status}}</h2>
    {% endif %}
    <h4>Commande effectuée le {{ commande.createdAt | date("d/m/Y") }}. Montant total : {{ commande.total | amount }}</h4>
    <h2>{{ commande.boutique.nom }}</h2>  
    <div class="section-mid pt-3 pb-3 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex align-items-center justify-content-around">
                    <th class="col-2"></th>
                    <th class="col-2">Produit</th>
                    <th class="col-2">Prix</th>
                    <th class="col-2">Quantité</th>
                    <th class="col-2">sous-total</th>
                </tr>
            </thead>

            <tbody>
            {% for item in commande.ligneCommandes %}
                <tr class="d-flex align-items-center justify-content-around">
                    <td class="col-2">
                        {% if item.produit.imageUrl is same as null %}
                            <img class="image-panier" src="{{ asset('images/image_defaut.jpg')}}" alt="{{item.produit.slug}}">
                        {% else %}
                            <img class="image-panier" src="{{ asset(item.produit.imageUrl)}}" alt="{{item.produit.slug}}">                                
                        {% endif %}
                    </td>
                    <td class="col-2">
                        <p>{{item.produit.nom}}</p>
                    </td>
                    <td class="col-2">
                        {{ item.produit.prix | amount }}
                    </td>
                    <td class="col-2">
                        <div class="d-flex align-items justify-content-between">
                            <button class="btn btn-secondary">{{ item.quantite}}</button>
                        </div>
                    </td>
                    <td class="col-2">
                        {{ (item.produit.prix * item.quantite ) | amount }}
                    </td>
                </tr>
            {% endfor %}
                <tr class="d-flex align-items-center justify-content-around">
                    <td class="col-2"></td>
                    <td class="col-2"></td>
                    <td class="col-2"></td>
                    <td class="col-2"><p>Frais de Livraison : </p></td>
                    <td class="col-2"><p>{{ fdp | amount }}</p></td>
                </tr>
                <tr class="d-flex align-items-center justify-content-around tr-top">
                    {% if commande.status is same as 'a-facturer' %}
                        <td class="col-2"></td>
                        <td class="col-2"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_annuler', { 'id' : commande.id } ) }}">
                                <i class="fas fa-times"></i> annuler
                            </a>
                        </td>
                    {% endif %}
                    
                    {% if commande.status is same as 'paiement-attente' %}
                        <td class="col-2"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_annuler', { 'id' : commande.id } ) }}">
                                <i class="fas fa-times"></i> annuler
                            </a>
                        </td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_payer', { 'id' : commande.id } ) }}">
                                Payer
                            </a>
                        </td>
                    {% endif %}

                    {% if commande.status is same as 'en-livraison' %}
                        <td class="col-2"></td>
                        <td class="col-2"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_livree', { 'id' : commande.id } ) }}">
                                <i class="fas fa-truck-loading"></i> livrée ! <i class="fas fa-thumbs-up"></i>
                            </a>
                        </td>
                    {% endif %}
                    
                    <td class="col-2"><p><strong>TOTAL : </strong></p></td>
                    <td class="col-2"><p><strong>{{ commande.total | amount }}</strong></p></td>
                </tr>
            </tbody>
        </table>        
    </div>
        
</section>
{% endblock %}