{% extends "acheteur/base_acheteur.html.twig" %}

{% block title %}Détail commande{% endblock %}

{% block body %}

<section class="main-acheteur">
    <div class="detail">
        <h1>Détail de votre commande, numéro: {{ commande.id }} </h1>
        {% if commande.status is same as 'en-livraison' %}
            <h2 style="color:red">Etat : {{ commande.status}}</h2>
        {% else %}
            <h2 style="color:green">Etat : {{ commande.status}}</h2>
        {% endif %}
        <h4>Commande effectuée le {{ commande.createdAt | date("d/m/Y") }}.</h4>
        <h4>Montant total : {{ commande.total | amount }}</h4>
        <h2>{{ commande.boutique.nom }}</h2> 
    </div>
     
    <div class="section-down col-12 sec-tab">
        <table class="table table-hover tabPanier">
            <thead>
                <tr class="d-flex align-items-center justify-content-around tr-bottom" >
                    <th class="col-2">&nbsp;</th>
                    <th class="col-3">Produit</th>
                    <th class="col-2">Prix</th>
                    <th class="col-3">Quantité</th>
                    <th class="col-2">Sous-total</th>
                </tr>
            </thead>

            <tbody>
            {% for item in commande.ligneCommandes %}
                <tr class="d-flex align-items-center justify-content-around">
                    <td class="col-2">
                        {% if item.produit.imageUrl is same as null %}
                            <img class="image-panier" src="{{ asset('images/android-chrome-192x192.png')}}" alt="{{item.produit.slug}}">
                        {% else %}
                            <img class="image-panier" src="{{ asset(item.produit.imageUrl)}}" alt="{{item.produit.slug}}">                                
                        {% endif %}
                    </td>
                    <td class="col-3">
                        <p>{{item.produit.nom}}</p>
                    </td>
                    <td class="col-2">
                        {{ item.produit.prix | amount }}
                    </td>
                    <td class="col-3">
                        <div class="d-flex align-items justify-content-between">
                            <button class="btn btn-secondary">{{ item.quantite}}</button>
                        </div>
                    </td>
                    <td class="col-2">
                        {{ (item.produit.prix * item.quantite ) | amount }}
                    </td>
                </tr>
            {% endfor %}
                <tr class="d-flex align-items-center justify-content-around">
                    <td class="col-2"></td>
                    <td class="col-3"></td>
                    <td class="col-2"></td>
                    <td class="col-3"><p>Frais de Livraison : </p></td>
                    <td class="col-2"><p>{{ fdp | amount }}</p></td>
                </tr>
                <tr class="d-flex align-items-center justify-content-around tr-top">
                    {% if commande.status is same as 'a-facturer' %}
                        <td class="col-2"></td>
                        <td class="col-3"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_annuler', { 'id' : commande.id } ) }}">
                                <i class="fas fa-times"></i> annuler
                            </a>
                        </td>
                    {% endif %}
                    
                    {% if commande.status is same as 'paiement-attente' %}
                        <td class="col-3"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_annuler', { 'id' : commande.id } ) }}">
                                <i class="fas fa-times"></i> annuler
                            </a>
                        </td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_payer', { 'id' : commande.id } ) }}">
                                Payer
                            </a>
                        </td>
                    {% endif %}

                    {% if commande.status is same as 'en-livraison' %}
                        <td class="col-2"></td>
                        <td class="col-3"></td>
                        <td class="col-2">
                            <a class="btn btn-info" href="{{ path('profile_commande_livree', { 'id' : commande.id } ) }}">
                                <i class="fas fa-truck-loading"></i> livrée ! <i class="fas fa-thumbs-up"></i>
                            </a>
                        </td>
                    {% endif %}
                    
                    <td class="col-3"><p><strong>TOTAL : </strong></p></td>
                    <td class="col-2"><p><strong>{{ commande.total | amount }}</strong></p></td>
                </tr>
            </tbody>
        </table>        
    </div>

    <div class="sec-card">
        
            <div class="card-global">
                {% for item in commande.ligneCommandes %}
                    <div class="card">
                        <div class="card-header" style="text-align:center">
                            {% if item.produit.imageUrl is same as null %}
                                <img class="image-panier" src="{{ asset('images/android-chrome-192x192.png')}}" alt="{{item.produit.slug}}">
                            {% else %}
                                <img class="image-panier" src="{{ asset(item.produit.imageUrl)}}" alt="{{item.produit.slug}}">                                
                            {% endif %}
                            <h5 >{{ item.produit.nom}}</h5>
                        </div>
                        <div class="card-body" >
                            <p>Prix: {{ item.produit.prix | amount }}</p>
                            <p>Quantité: {{ item.quantite}}</p>
                        </div>
                        <div class="card-footer" style="margin-top:auto;margin-bottom:auto">
                            <p>
                                <strong>
                                    Sous-total: {{ (item.produit.prix * item.quantite ) | amount }}
                                </strong> 
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="card-footer" style="text-align:center;width:100%">
                    <div>
                        <p>Frais de Livraison: {{ fdp | amount }}</p>
                        <p><strong>TOTAL : {{ commande.total | amount }}</strong></p>
                    </div>
                    
                    {% if commande.status is same as 'en-livraison' %}
                        <a class="btn btn-info" href="{{ path('profile_commande_livree', { 'id' : commande.id } ) }}">
                            <i class="fas fa-truck-loading"></i> livrée ! <i class="fas fa-thumbs-up"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        
    </div>
        
</section>
{% endblock %}